.image-button {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: E4C975;
};
.image-button:hover {
    opacity: 0.7;
};